$success: #00a651;
$danger: #ff5b57;
$warning: #eea236;
$info: #46b8da;
$backdrop: #42424281;
$primary: #2e6da4;
* {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,300&display=swap');
    font-family: 'Montserrat', sans-serif;
}

.success {
    background-color: $success;
    color: #fff;
}

.danger {
    background-color: $danger;
    color: #fff;
}

.warning {
    background-color: $warning;
    color: #fff;
}

.info {
    background-color: $info;
    color: #fff;
}

.primary {
    background-color: $primary;
    color: #fff;
}

body {
    background-image: url(https://picsum.photos/1920/1080?blur=2);
    margin: 0px;
}

#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-auto-rows: 300px;
    background-color: $backdrop;
    padding: 20px;
}

#disconnected {
    //center text to the screen
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: $backdrop;
    height: 100%;
    max-height: 100%;
    max-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 
    button as btn
*/

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: $backdrop;
    display: flex;
}